$ease: cubic-bezier(.2,1,.3,1);

svg {


  polygon, path {
    transition: all 0.5s $ease;
  }
  polygon.arrow, polygon.arrow-fixed, path.arrow-path   {

    fill: #87CB16;
  }

 .arrow {
    animation: arrow-anim 1.5s $ease infinite;
  }
 .arrow-fixed {
    animation: arrow-fixed-anim 1.5s $ease infinite;
  }
}

@keyframes arrow-anim {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  5% {
    transform: translateX(-0.1rem);
  }
  100% {
    transform: translateX(1rem);
    opacity: 0;
  }
}

@keyframes arrow-fixed-anim {
  5% {
    opacity: 0;
  }
  20% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}



