.center-form {
  left: 35%;
}

.grid-container {
  background: black;
  display: inline-block;
  border: 5px solid black;
  width: 100%;
}

.grid {

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 1fr;
  grid-gap: 5px;
}

.cell {
  /* center the cell content */
  justify-content: center;
  align-items: center;
  display: flex;
  font-weight: bold;
  background: white;
}



.robot {
  width: 600px;
  height: 300px;
  margin-top: 50px;
}

.robot-head__ear {
  fill: #5e5e5e;
}

.robot-head__face {
  fill: #ef8157;
}

.robot-head__eye {
  fill: #FFFCF5;
}

.robot-head__mouth {
  fill: #FFFCF5;
}

.robot-head__teeth {
  stroke: #5e5e5e;
  stroke-width: 0.5;
}




.circle { fill: #02BD85 }
.base { fill: #F1F1F1 }
.hole { fill: #C3C3C3 }
.roof { fill: #D34141 }
