<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="markdown prose max-w-none" id="description"><p>Robby, the robot, wants to find his way back home.
          Unfortunately his power is pretty low, so he needs to find the shortest way from his Start point (S) to the
          Target cell (T).</p>
          <p>When Robby starts, he always looks into north direction. He has a limited command set and each command
            costs him 1 unit of power. The commands are:</p>
          <pre><code class="language-javascript"><span class="cm-variable">Commands</span> <span
            class="cm-operator">=</span> {{
    <span class="cm-string cm-property">"TURN_RIGHT"</span>: <span class="cm-string">"r"</span>, <span
            class="cm-comment">// turn right by 90°</span>
    <span class="cm-string cm-property">"TURN_LEFT"</span>: <span class="cm-string">"l"</span>, <span
              class="cm-comment">// turn left by 90°</span>
    <span class="cm-string cm-property">"MOVE_FORWARDS"</span>: <span class="cm-string">"f"</span> <span
              class="cm-comment">// move one field forwards into current direction</span>
}};</code></pre>
          <p>The field, Robby is moving on, is defined by a string, which may have different dimensions, but is always
            squared.</p>
          <p>Example for a 3x3 field:</p>
          <pre><code class="language-javascript"><span class="cm-variable">field</span> <span
            class="cm-operator">=</span> <span class="cm-string">'S...#...T'</span>;
<span class="cm-comment">// which means:</span>
<span class="cm-variable">field</span> <span class="cm-operator">=</span>
  <span class="cm-string">'S..'</span> <span class="cm-operator">+</span>
  <span class="cm-string">'...'</span> <span class="cm-operator">+</span>
  <span class="cm-string">'..T'</span>;</code></pre>
          <p>Each cell of the field is described by a character:</p>
          <pre><code class="language-javascript"><span class="cm-variable">Fields</span> <span
            class="cm-operator">=</span> {{
    <span class="cm-string cm-property">"WALKABLE"</span>: <span class="cm-string">"."</span>, <span class="cm-comment">// Robby may walk on this</span>
    <span class="cm-string cm-property">"BLOCKED"</span>: <span class="cm-string">"#"</span>, <span class="cm-comment">// Robby must not walk on this</span>
    <span class="cm-string cm-property">"START"</span>: <span class="cm-string">"S"</span>, <span class="cm-comment">// Robby is starting here, he may also walk here</span>
    <span class="cm-string cm-property">"TARGET"</span>: <span class="cm-string">"T"</span> <span class="cm-comment">// The target cell, Robby has to reach</span>
}};</code></pre>
          <p>Your task is to write a function, which returns the list of commands, Robby has to do in order to reach the
            target cell and save as much power as possible. If Robby is not able to reach the target with the remaining
            power, the function should return an empty list.</p>
          <p>Example:</p>
          <pre><code class="language-javascript"><span class="cm-variable">getCommands</span>(<span class="cm-string">'T.S.'</span>, <span
            class="cm-number">5</span>); <span
            class="cm-comment">// -&gt; ['f'], because he just has to move forward</span>
<span class="cm-variable">getCommands</span>(<span class="cm-string">'S.......T'</span>, <span
              class="cm-number">10</span>); <span class="cm-comment">// -&gt; ['r', 'f', 'f', 'r', 'f', 'f']</span>
<span class="cm-variable">getCommands</span>(<span class="cm-string">'S.......T'</span>, <span
              class="cm-number">5</span>); <span class="cm-comment">// -&gt; [], because he needs at least 6 units of power</span>
<span class="cm-variable">getCommands</span>(<span class="cm-string">'S#.##...T'</span>, <span
              class="cm-number">20</span>); <span class="cm-comment">// =&gt; [], because the target can not be reached (with an arbitrary amount of power)</span></code></pre>
          <p>Additional notes:</p>
          <ul>
            <li>There is exactly one Start point (S)</li>
            <li>There is exactly one Target point (T)</li>
            <li>Each test case has exactly one solution (= only one shortest command list)</li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <form class="form-inline">
          <div class="form-group center-form">
            <input [(ngModel)]="robby_field_input" name="robby_field_input" type="text" class="form-control"
                   placeholder="field">
            <input [(ngModel)]="power_input" name="power_input" type="number" class="form-control"
                   placeholder="count">
            <button (click)="onClickMe()" type="submit" class="btn btn-danger btn-no-margin">GO</button>
          </div>
        </form>
      </div>

      <div class="row container-fluid">
        <div class="col-md-6">


          <svg attr.viewBox="-1 -1 {{this.field_array.length*10 + 3}} {{this.field_array.length*10 + 3}}" fill="#111">

            <ng-container *ngFor="let arrow_data  of direction_arrows;let i = index">
              <g attr.transform="translate({{arrow_data.x*10 + 4.5}} {{arrow_data.y*10 + 4.5}}) scale(0.1,0.1) rotate({{arrow_data.rotate}} 7 7) ">
                <polygon class="arrow"
                         points="16.3746667 8.33860465 7.76133333 15.3067621 6.904 14.3175671 14.2906667 8.34246869 6.908 2.42790698 7.76 1.43613596"></polygon>
                <polygon class="arrow-fixed"
                         points="16.3746667 8.33860465 7.76133333 15.3067621 6.904 14.3175671 14.2906667 8.34246869 6.908 2.42790698 7.76 1.43613596"></polygon>
                <path class="arrow-path"
                      d="M-1.48029737e-15,0.56157424 L-1.48029737e-15,16.1929159 L9.708,8.33860465 L-2.66453526e-15,0.56157424 L-1.48029737e-15,0.56157424 Z M1.33333333,3.30246869 L7.62533333,8.34246869 L1.33333333,13.4327013 L1.33333333,3.30246869 L1.33333333,3.30246869 Z"></path>
              </g>
            </ng-container>


            <ng-container *ngFor="let row  of field_array;let y = index">
              <ng-container *ngFor="let value of row; let x=index">

                <rect fill="white" stroke="#231F20" stroke-width="0.5" [attr.x]="x*10" [attr.y]="y*10" width="10"
                      fill-opacity="0.25" height="10" opacity="1"></rect>
                <text
                  *ngIf="value == this.FIELD_BLOCK"
                  [attr.x]="3.3+x*10"
                  [attr.y]="6.3 + y*10" font-family="Verdana" font-size="4" fill="black">#
                </text>

                <g *ngIf="value == this.FIELD_ROBOT" class="robot-head" attr.transform="translate({{x*10+1.3}} {{y*10+3}}), scale(0.3,0.3)">
                  <rect class="robot-head__ear" width="2" height="6" x="0" y="3" />
                  <rect class="robot-head__ear" width="2" height="6" x="22" y="3" />
                  <rect class="robot-head__face" width="20" height="11" x="2" />
                  <g class="robot-head__eyes">
                    <rect id="left-eye" class="robot-head__eye" width="2" height="4" x="6" y="2" />
                    <rect id="right-eye" class="robot-head__eye" width="2" height="4" x="14" y="2" />
                    <animate
                      xlink:href="#left-eye"
                      attributeName="x"
                      from="6"
                      to="8"
                      dur="1s"
                      values="6; 8; 6"
                      keyTimes="0; 0.5; 1"
                      repeatCount="indefinite"/>
                    <animate
                      xlink:href="#right-eye"
                      attributeName="x"
                      from="14"
                      to="16"
                      dur="1s"
                      values="14; 16; 14"
                      keyTimes="0; 0.5; 1"
                      repeatCount="indefinite"/>
                  </g>
                  <rect class="robot-head__mouth" width="12" height="2" x="6" y="8" />
                  <line class="robot-head__teeth" x1="8" y1="10" x2="8" y2="8" />
                  <line class="robot-head__teeth" x1="10" y1="10" x2="10" y2="8" />
                  <line class="robot-head__teeth" x1="12" y1="10" x2="12" y2="8" />
                  <line class="robot-head__teeth" x1="14" y1="10" x2="14" y2="8" />
                  <line class="robot-head__teeth" x1="16" y1="10" x2="16" y2="8" />
                </g>

                <g *ngIf="value == this.FIELD_HOME" class="icon" attr.transform="translate({{x*10}} {{y*10}}) scale(0.1,0.1) ">
                  <path class="base"
                        d="M50,29.753l23.293,17.47v26.011c0,2.572-2.086,4.659-4.66,4.659H31.366c-2.574,0-4.658-2.086-4.658-4.659V47.223L50,29.753z"></path>
                  <path class="hole"
                        d="M50,50.427c5.145,0,9.316,4.172,9.316,9.316c0,5.144-4.172,9.317-9.316,9.317c-5.146,0-9.316-4.174-9.316-9.317C40.684,54.599,44.854,50.427,50,50.427z"></path>
                  <path class="roof" d="M50,35.188L22.826,55.374V38.295L50,18.107l27.174,20.188v17.08L50,35.188z"></path>
                </g>

              </ng-container>
            </ng-container>


          </svg>
        </div>
        <div class="col-md-6">
          <div>
            <h3 style="text-align: center">
            {{this.robby_commands}}
            </h3>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
